@charset "utf-8";
/* CSS Document */
* { 
padding:0; 
margin:0; 
} 
body { 
font-family:verdana, sans-serif; 
font-size:small; 
} 



.mobanmenu{
	width:1200px;
	margin:0 auto;
	text-align:center;}

.mobanmenu_left{
	margin:0 auto;
	width:245px;
	text-align:center;
	margin-left:5px;
	float:left;}

.mobanmenu_right{
	margin:0 auto;
	text-align:center;
	width:950px;
	height:39px;
	background:#c23131;
	color:#FFF;
	float:left;}
.mobanmenu_right ul{
	height:20px;
	list-style:none;
	color:#FFF;
	font-family:"宋体"; 
	font-size:14px;
	font-weight:bold;
	padding-top:10px;
	margin-left:0px;
	}
.mobanmenu_right ul li{
	width:85px;
	height:20px;
	float:left;
	color:#FFF;
	font-family:"宋体"; 
	font-size:14px;
	font-weight:bold;
	border-right:1px dashed #fff;
	text-align:center;
	}
.mobanmenu_right ul li a{
	color:#FFF;
	font-family:"宋体"; 
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	}


.mid{
	width:1187px;
	margin:0 auto;
	margin-top:-230px;
	}
.mid_top{
	width:1175px;
	height:20px;
	border-bottom:solid 2px #c23131;
	font-size:14px;
	font-family:"宋体";
	font-weight:bold;
	color:#c23131;
	padding-left:10px;}

	
.left{
	width:208px;
	height:800px;
	background:#FFF;
	float:left;
	}	
.left_top{
	width:208px;
	height:30px;
	font-family:"微软雅黑";
	font-size:20px;
	font-weight:bold;
	color:#111111;}	
.left_bom{
	width:208px;
	height:600px;
	border:solid 1px #f3f3f3;
	font-family:"宋体";
	font-size:14px;
	font-weight:bold;
	margin-top:10px;
	padding-top:20px;
	padding-left:20px;}	
.left_bom_con{
	font-family:"宋体";
	font-size:12px;
	font-weight:100;
	margin-top:20px;
	line-height:30px;
	color:#c23131;}	
	
.right{
	border-top:solid 5px #c23131;
	font-family:"宋体";
	font-size:14px;
	font-weight:bold;
	width:935px;
	float:right;
	color:#c23131;
	padding:10px 0 0 10px;
	margin:40px 0 0 25px;}